.tree-green {
	background-color: #009900;
}

.tree-black {
	background-color: #010101;
}

.gray {
	background-color: #dddddd;
}

.tree-yellow {
	background-color: #eef30c;
}

.tree-red {
	background-color: red;
}

.tree-blue {
	background-color: #87c0ea;
}

.tree-orn-green {
	background-color: #95b90b;
}

.tree-brown {
	background-color: #683400;
}

.tree-white {
	background-color: white;
}