<div style="width: 176px; height: 120px; border: 1px solid red; float: left;">
	<div *ngFor="let item of numbers" style="width: 4px; height: 4px; border: display: inline-block; float: left;" [class]="getClass(item)" [id]="item"></div>
</div>

<button style="float: left; margin: 0px 20px;">START TEST</button>

<div style="width: 176px; height: 120px; border: 1px solid red; float: left;">
	<div *ngFor="let item of numbers" style="width: 4px; height: 4px; border: display: inline-block; float: left;" [class]="getClass(item)" [id]="item"></div>
</div>